<div class="dashboard-container">
    <h2>Welcome, {{ loggedInUser?.username }}</h2>
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" formControlName="firstName" [(ngModel)]="loggedInUser.firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" formControlName="lastName" [(ngModel)]="loggedInUser.lastName" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" [(ngModel)]="loggedInUser.email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" [(ngModel)]="loggedInUser.password" required>
      </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <button type="submit">Update</button>
      <button type="button" (click)="onDelete()">Delete</button>
      <button type="button" (click)="onLogout()">Logout</button>
    </form>
</div>